<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <!--estilos-->
    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--js-->
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--estilos propios-->
    <style>
        body {
            background-image: url("imagenes/fondo2.jpg");
            background-size: cover;
            margin: 0px;
            font-family: 'Poppins';
        }
        
        img {
            width: 300px;
            margin-top: 50px;
        }
        
        .info {
            padding: 3em;
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            color: white;
            border: solid 2px transparent;
            border-radius: 1em;
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
            width: 50%;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper  purple darken-4">
            <a href="#" class="brand-logo center">Información de la Pandilla</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="sass.html"></a>
                </li>
                <li>
                    <a href="badges.html"></a>
                </li>
                <li>
                    <a href="collapsible.html"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <a href="#"><img src="imagenes/<%=cat.foto %>" class="circle" alt="<%= cat.name %>"></a>
        <div class="info" id="glass">
            <h5>
                <%=cat.name%>
            </h5>
            <p>Comida favorita:
                <%=cat.favoriteFood%>
            </p>
            <p>Edad:
                <%=cat.age%> años
            </p>
            <p>Lugar para dormir:
                <%=cat.sleepingSpots%>
            </p>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>

    <script>
        const glass = document.getElementById('glass');

        const tl = gsap.timeline({
            defaults: {
                ease: "power2.inOut",
                duration: 1.5
            }
        })

        tl.from('img', {
                x: '-40%',
                opacity: -10
            })
            .from('.info', {
                opacity: 0,
                delay: 0,
                duration: 1
            })
            .from('.info', {
                x: '-10%',
                backdropFilter: 'blur(20px)'
            })
    </script>





</body>

</html>